/* CSS do site */
@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #232323;
  font-family: OpenSans;
  font-size: 16px;
  color: #ffffff;
}

.navbar {
  background-color: #000000cc;
  min-height: 55px;
}

.navbar-header{
  margin: auto;
  letter-spacing: 3px;
  word-spacing: 35px;
}

.navbar-header > a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.home{
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.container {
  margin-top: 65px;
}

.header {
  text-align: center  ;
}

/* Foto de perfil */

.perfil{
/* width: 25%; */
 border-radius: 50%;
}

.pagina1{
  padding-top: 55px;
  text-align: center;
  letter-spacing: 3px;
  height: 800px;
}

.paginas {
  padding-top: 55px;
  text-align: center;
  letter-spacing: 3px;
  height: 1600px;
}

.botao{
  margin-top: 35px;
  display: inline-block;
  padding: 15px 35px;
  width: 80%;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #eb2c2c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
}

.botao:hover{
  background-color: #f74d4d;
  color: #ffffff;
  transition: 0.3s;
}

.nota{
  color: #f1c40f;
  font-weight: bold;
  font-size: 32px;
}

.star{
  width: 25%;
}

.stars{
  width: 45%;
}

.avaliacao{
  margin-top: 10px;
  padding: 8px;
  background-color: #ffffff;
  color: #232323;
  border: 3px solid #232323;
}

.bloco{
  margin-top: 24px;
}

.img-curso {
  width: 100%;
  border-radius: 8px;
}

/* === Media QUeries ===*/
/* Extra Small (xs): Smartphone (portrait - retraso)*/
@media(min-width: 400px){
  .perfil {
    width: 35%;
    border: solid 2px blue;
  }
}

/* Small (sm): Smartphone (landscape - paisagem)*/
@media(min-width: 576px){
  .perfil {
    width: 75%;
    border: solid 2px #bc41ce;
  }

  .star{ width: 55%; }

  .stars{ width: 100%; }

}

/* Medium (md): Tablet */
@media(min-width: 768px){
  .perfil {
    width: 50%;
    border: solid 2px #20a000;
  }

  .star{
    width: 35%;
  }

}

/* Large (lg): Notebook */
@media(min-width: 992px){
  .perfil {
    width: 35%;
    border: solid 2px #ffd000;
  }

  .star{ width: 35%; }

}

/* Extra Large (xl): Computador */
@media(min-width: 1200px){
  .perfil {
    width: 25%;
    border: solid 2px #dc143c;
  }

  .star{ width: 25%; }
}


/* CLASSE TESTE */

.borda1{


}

.row {

}